html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kulim park" sans-serif;
    font-size: 20px;
    font-weight: 400;
    color:#3D3D3D;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

/* header */

.header {
    padding: 60 60px;
    display: flex;
    height: 900px;
    flex-direction: column;
    width: 100%;
    margin-top: 25px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    position: relative;
    width: 100%;
}

.logo-header-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo-header {
    width: 50px;
    height: 61px;

}

.navigation a {
    text-decoration: none;
}

.navigation-vkladki {
    width: 395px;
    height: 23px;
    display: flex;
    justify-content: start;
    gap: 43px;
}


.button-header {
    width: 216px;
    height: 41px;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #666666;
    border-radius: 50px;
    color:#3D3D3D;
    background-color: white;
}

.button-header:hover {
    background-color: rgb(95, 95, 95);
    color: white;
    border: 1px solid rgb(95, 95, 95);
    transition: 0.3s;
}


/* mission */


.image-header {
    background-image: url('images/timon.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 806px;
    border-radius: 50px;
}

.image-header-container {
    position: absolute;     
    color: white;
    width: 100%;
    height: 100%;
    padding: 35px;
}

.top h1 {
    font-size: 100px;
    font-weight: 600;
    margin-bottom: 20px;
    color: white;
    line-height: 100%;
}

.top p {
    font-size: 20px;
    margin-bottom: 30px;
    color: white;
    text-align: end;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 65%;
}

.btn-help-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 162px;
    height: 162px;
    border: 1px solid white;
    border-radius: 100%;
    color: white;
}

.btn-help {
    width: 140px;
    height: 140px;
    background:white;
    border-radius: 100%;
    font-size: 22px;
    cursor: pointer;
    border: 1px solid white;
    color: #BF632F;
}

.btn-help:hover {
    background: #b76b00;
    color: white;
    transition: 0.2s;
}

.image-header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); 
    border-radius: 50px;
    z-index: 1;
}

.image-header-container {
    z-index: 2;
}

.mission {
    margin-top: 128px;
    max-height: 800px;
}

.top-mission-container {
    margin-bottom: 72px;
    display: flex;
    gap: 107px;    
    max-height: 450px;
}

.text-mission-container {
    width: 800px;

}
.text-mission {

    margin-bottom: 38px;
}

.first-text-mission {
    font-size: 36px;
    margin-bottom: 38px;
}

.last-text-mission {
    font-size: 24px;
    margin-bottom: 56px;
}

.button-help-container
{
    max-height: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.button-help {
    border-radius: 50px;
    width: 100%;
    height: 66px;
    background: #BC5E28;
    color: #171717;
    border: 1px solid #BC5E28;
    font-size: 30px;
}

.button-help:hover {
    background: #86451c;
    color: white;
    transition: 0.2s;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.bottom-mission-container {
    width: 100%;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 50px 50px;
}
.mission-info {
}


.image-lion {
    height: 470px;
    width: 400px;
    border-radius: 50px;
}




/* .image-header-container-header h1 {
    font-size: 100px;
    font-weight: 600;
    width: 1047px;
    height: 228px;
    color: black;
}


.image-header-container-header p {
    font-size: 20px;
    font-weight: 275;
    width: 100%;
    height: 246px;
    margin: 0;
    text-align: right;

}

.fon-image-header {
    border-radius: 50px;
} */
