* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    max-width: 100%;
    color: white;
    line-height: 150%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

section {
    padding: 20px 80px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 80px;
    background: var(--Color-Scheme-2-Background, #001E3D);
    height: 2000px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-decoration: none;
    margin-right: auto;
    margin-bottom: 50px;
}

.logo {
    font-size: 36px;
    font-weight: 500;
}

.nav-vkladki {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    position: relative;
    right: 80px;
}

.link-item a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.down_images {
    padding-left: 5px;
}

.button-navigation {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
.button-login {
    background-color: #001E3D;
    border: 1px solid #FFFFFF33;
    border-radius: 12px;
    padding: 7px 15px;
}

.button-login:hover {
    background-color: #d9d9d977;
    border: 1px solid #FFFFFF66;
    color: black
}

.button-signup {
    background-color: #0066CC;
    border: 1px solid #0066CC;
    border-radius: 12px;
    padding: 7px 15px;
}

.button-signup:hover {
    background-color: #6db3f8;
    border: 1px solid #005bb5;
    color:black;
}


.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.menu_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 376px;
    height: 332px;
}

.link_text {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}

.list {
    display: flex;
    gap: 15px;
}
.hide {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.hide span {
    font-weight: 300;
}

.right-head-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.cont-image-head{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.vkladka {
    display: flex;
    gap: 24px
}

.image-head-cont img{
    border-radius: 20px;
    object-fit: cover;
}

.text-head-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 0px;
}


.desc-header {
    width: 290px;
    font-weight: 300;
    line-height: 150%;
}

.more a {
    text-decoration: none;
    font-weight: 500;
    line-height: 150%;
}

.main-header {
    margin: 112px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 86px;
}

.head-main-header {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    justify-content: center;
}
.top-head {
    width: 1000px;
    height: 100%;
    font-family: Unbounded;
    font-weight: 700;
    font-style: Bold;
    font-size: clamp(48px, 5vw, 78px); 
    line-height: 100%;
    letter-spacing: -1%;
    text-align: center;
    text-transform: uppercase;

}
.bottom-head {
    width: 1000px;
    font-weight: 300;      
    font-size: 20px;         
    line-height: 1.5;        
    letter-spacing: 0;      
    text-align: center;
}


.btn-more {
    background-color: #001E3D;
    border: 1px solid #FFFFFF33;
    border-radius: 12px;
    padding: 7px 15px;
}

.btn-more:hover {
    background-color: #d9d9d977;
    color: black
}

.start {
    background-color: #0066CC;
    border: 1px solid #0066CC;
    border-radius: 12px;
    padding: 7px 15px;
    margin-right: 10px;
}

.start:hover {
    background-color: #6db3f8;
    color:black;
}

.foot-main-header img {
    object-fit: cover;
    border-radius: 20px;
}

.template-section1 {
    height: 824px;
    width: 100%;
    background: var(--Color-Scheme-1-Background, #000A07);
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.section-header {
    font-weight: 600;
    display: flex;
    gap: 24px;
    font-size: 24px;
}

.section-head-main-container {
    display: flex;
    height: 600px;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-head-left-container {
    width: 600px;
    height: 435px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.name-quality {
    font-weight: 600;
}

.head-section-main {
    font-family: Unbounded;
    font-weight: 700;
    font-style: Bold;
    font-size: 62px;
    line-height: 100%;
    letter-spacing: -1%;
    text-transform: uppercase;
}

.desc-section-main {
    font-weight: 300;
    font-style: Regular;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
}


.section-main-button {
    background: var(--Color-Scheme-1-Background, #000A07);
    border: 1px solid #FFFFFF33;
    border-radius: 12px;
    padding: 7px 15px;
    margin-right: 10px;
}

.section-main-button:hover {
    background-color: #d9d9d9d3;
    color: black;
}

.link-section-main {
    text-decoration: none;
}
.section-head-right-container img {
    border-radius: 20px;
    object-fit: cover;

}

.section-gap {
    background: var(--Color-Scheme-1-Background, #000A07);
    padding: 112px 80px;
    height: 1250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}
.head-section-gap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 768px;
    height: 364px;
    gap: 20px;
}
.name-quality-gap {
    font-weight: 600;
}

.quest-section-gap {
    font-family: Unbounded;
    font-weight: 700;
    font-style: Bold;
    font-size: 62px;
    line-height: 100%;
    letter-spacing: -1%;
    text-transform: uppercase;
    text-align: center;
}

.desc-section-gap {
    font-weight: 300;
    font-style: Regular;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    font-size: 20px;
}
.main-section-gap {
    display: flex;
    width: 100%;
    max-width: 100%;
    gap: 48px
}

.left-section-gap {
    flex: 1;
}
.image-section-gap {
    width: 100%;
    height: 233px;
}
.head-container-section-gap {
    font-family: Unbounded;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -1%;
    text-align: center;
    text-transform: uppercase;
    overflow-wrap: break-word;
}
.desc-container-section-gap {
    font-weight: 300;
    font-style: Regular;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    overflow-wrap: break-word;

}
.middle-section-gap {
    flex: 1;

}
.right-section-gap {
    flex: 1;

}
.foot-section-gap {
}
.section-main-button {
}
.link-section-main {
}
